.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 15%;
    gap: 2rem;
    flex-wrap: wrap;
}

.left-side {
    font-size: 1.5rem;
}

img {
    width: 40rem;
}

@media (max-width:990px) {
    .contact-info {
        padding: 1rem;
    }

    .left-side {
        font-size: 2rem;
    }
}