.footer {
    width: 100%;
    height: 10rem;

    background-color: var(--third);
    color: black;

    z-index: 99;
    text-align: center;

    margin-top: 5rem;

}

.footer h3 {
    color: var(--primary);
    font-size: 2.3rem;
    padding-left: 15%;
    padding-top: 3rem;
}

@media (max-width:990px) {
    .footer h3 {
        padding: 3rem;
    }
}