.go-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-size: 2rem;
    z-index: 1000;
}