.top-header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 5.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.6rem;


    z-index: 500;
    transition: background-color 0.35s ease, box-shadow 0.35s ease;
    -webkit-transition: background-color 0.35s ease, box-shadow 0.35s ease;
    -moz-transition: background-color 0.35s ease, box-shadow 0.35s ease;
    -ms-transition: background-color 0.35s ease, box-shadow 0.35s ease;
    -o-transition: background-color 0.35s ease, box-shadow 0.35s ease;
}

.header-home {
    background: transparent;
    color: white;
}


.header-home.scrolled {
    background-color: rgba(255, 255, 255);
    color: var(--secondary)
}

.header-default {
    color: #111;
    background-color: white;
}

.header-default.scrolled {
    border-bottom: 0.1px solid var(--secondary);
}

.left-section {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.left-scroll {
    color: var(--secondary);
}

.menu-icon {
    font-size: 3rem;
    cursor: pointer;
    padding-top: 0.9rem;
}

.logo {
    font-size: 2.3rem;
}

.search-icon {
    font-size: 2.3rem;
}

.scrolled-search {
    color: #121212;
}


@media (min-width: 990px) {
    .top-header {
        display: none;
    }
}

@media (max-width:990px) {
    .menu-icon .close {
        color: #000;
    }

    .menu-icon {
        font-size: 4rem;
    }

    .logo {
        font-size: 3rem;

    }

    .search-icon {
        font-size: 3.5rem;
    }
}