.hero {
    position: relative;
    color: white;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 4rem;
    margin-left: 20rem;

    text-align: center;


}

.underline {
    width: 20%;
    height: 0.7rem;
    background-color: var(--secondary);

}

.hero-name {
    font-size: 4rem;
}

.hero-tagline {
    font-size: 2rem;
    /* text-wrap: wrap; */
}

.hero-content {
    padding: 5rem;
    text-align: center;

    justify-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.down-arrow {
    position: absolute;
    bottom: 2rem;
    font-size: 3rem;

    cursor: pointer;

    color: rgba(255, 255, 255, 0.4);
    animation: bounce 1.5s infinite;

}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

@media (max-width: 990px) {

    .hero {
        padding: 0;
        margin-left: 0rem;
        width: 100%;
    }

    .hero-name {
        font-size: 6rem;
    }

    .hero-tagline {
        font-size: 3rem;
    }

    .hero-content {
        padding: 0;
    }
}