.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/girl.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeContent {
    padding-top: 14rem;
    width: 100%;
}

.homeQuote {
    width: 100%;
}

@media (max-width:990px) {
    .homeContent {
        padding: 0;
    }

    .homeQuote {
        text-align: center;
    }
}