.info {
    position: fixed;
    bottom: 2rem;
    left: 28rem;

    width: 3rem;
    height: 3rem;
    font-size: 2.6rem;

    padding-left: 0.2rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

@media (max-width:990px) {
    .info {
        left: 3rem;
    }
}