.heading {
    text-transform: capitalize;
    font-size: 2.9rem;
    margin-top: 3rem;

}

.heading h2 {
    font-size: 4rem;
}

.mentor-content p {
    font-size: 1.8rem;
    padding: 3rem;
}


.mentor-content .small-para {
    font-size: 2.3rem;
}

.research {
    padding-left: 10%;
}

.mentor-content {
    width: 85%;
    padding-left: 25%;
}

.mentor-content ul {
    list-style-type: square;
}

.mentor-content h3 {
    text-align: left;
}

.mentor-content .mentor-q {
    text-align: center;
}

ul li {
    list-style-type: square;
    font-size: 1.8rem;
}

@media (max-width:990px) {
    .mentor-content {
        padding: 0.51rem;
    }

    .mentor-content p {
        padding: 2.6rem 0;
    }

    .mentor-content h3 {
        padding: 2.6rem 0;
    }

    .research {
        padding: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


}