.sidebar {
    position: fixed;
    top: 0;
    left: -40rem;

    width: max-content;
    height: 100dvh;
    background: white;
    color: #000;
    transition: left 0.3s ease;
    z-index: 400;
    padding-top: 2.4rem;

    border-right: 0.02px solid #646161;
}

.sidebar nav ul {
    list-style: none;
    padding: 0 1.6rem;
    margin-top: 3rem;
}

.sidebar nav ul li {
    margin: 1.6rem 0;
    list-style-type: none;
}

.sidebar nav ul li a {
    color: #636060;
    font-size: 1.6rem;
    padding: 1rem;
    margin: 1rem;
}

.sidebar nav ul li a:hover {
    color: #000;
}

.sidebar.open {
    left: 0;
}

.sidebar-logo {
    font-size: 22px;
    color: #000;
    font-weight: bold;
    padding: 0 16px 16px;
    border-bottom: 1px solid #333;
    margin-bottom: 16px;
}

.side-logo {
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
    color: var(--primary);
}

.side-logo-hr {
    width: 80%;
    color: var(--primary);
    margin: 1.2rem auto;
    height: 0.3rem;
    background-color: var(--primary);
}

nav {
    padding-top: 2rem;
}

@media (min-width: 990px) {
    .sidebar {
        left: 0;
        padding-top: 2.4rem;
    }

    .sidebar-logo {
        display: none;
    }
}

@media (max-width:990px) {
    .sidebar nav ul li a {
        font-size: 2.3rem;
    }
}