.heading {
    text-transform: capitalize;
    font-size: 4rem;

}

.teaching-content p {
    font-size: 1.8rem;
    padding: 3rem;
}



.research {
    padding-left: 10%;
}

.teaching-content {
    width: 85%;
    padding-left: 25%;
}

.teaching-content ul {
    list-style-type: square;
}

ul li {
    list-style-type: square;
    font-size: 1.8rem;
}

@media (max-width:990px) {
    .teaching-content {
        padding: 1rem;
    }

    .teaching-content p {
        padding: 2rem 0;
    }

    .research {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}