* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #60637a;
  --secondary: #858cb8;
  --third: #e8f0f0;
  --text-color: #000;
  --white: #fff;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

p,
li,
a,
button {
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 132rem;
  margin: auto;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scroll-track {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: var(--third);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cdcdcc;
}

@media (max-width:990px) {
  html {
    font-size: 50%;
  }
}